body, html {
    margin: 0;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    line-height: 1.4;
    color: #222222;
    background: #efefef;
}

body {
    font-size: 1.6rem;
}

html, body, .app, .view {
    height: 100%;
}

* {
    box-sizing: border-box;
}

table.table {
    width: 100%;
    margin: 0;
    margin-bottom: 1.25em;
    border-collapse: collapse;
}
.table th, .table tr, .table td {
    border: 1px solid #888;
    padding: 0.3125rem 0.625rem;
    color: #888;
    font-size: 0.875em;
    font-family: 'Source Code Pro', 'Courier New', monospace;
}
.table th {
    font-weight: normal;
    background: #f8f8f8;
}

.pull--left {
    float: left;
}
.pull--right {
    float: right;
}

.text--red {
    color: #d43f3a;
}
.text--center {
    text-align: center;
}
.text--right {
    text-align: right;
}
.text--muted {
    color: #888;
}

.unauthorized {
    margin: 3rem auto;
    width: 90%;
    max-width: 40em;
    padding: 3em;
    border-radius: 3px;
    background: #ffffff;
}
.unauthorized h1 {
    font-weight: 300;
    font-size: 2.6rem;
    text-align: center;
    margin: 0 0 3rem 0;
}
.unauthorized p {
    text-align: center;
    margin: 0;
}
.unauthorized a {
    color: #ffffff;
    background: #4daf9f;
    border: 1px solid #34766b;
    border-radius: 3px;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    text-align: center;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.dropdown__container {
    cursor: pointer;
    position: relative;
}
.dropdown__container:hover .dropdown {
    display: block;
}
.dropdown {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    padding: 0.6rem 0;
    background: #fff;
    min-width: 16rem;
}
.dropdown__item {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: #fff;
    color: #222;
    text-decoration: none;
    width: 100%;
    transition: background 200ms;
}
a.dropdown__item:hover {
    cursor: pointer;
    background: #efefef;
}

.content {
    padding: 3rem;
    width: 95rem;
    margin: 0 auto;
    background: #fff;
    min-height: 100%;
}
.content .title {
    font-size: 2.6rem;
    font-weight: 300;
    margin: 0 0 2.4rem;
}


.tabs {
    padding: 0 0.5rem 0;
    display: flex;
    background: #fff;
}
.tabs__spacer {
    flex: 1 1;
}
.tabs__add {
    font-size: 1.4rem;
    display: inline-block;
    padding: 0 0.8rem;
    cursor: pointer;
    color: #828282; /* gray */
    vertical-align: sub;
}
.tabs__add:hover {
    color: #111; /* black */
}
.tabs__tab {
    flex: 0 1 16rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.3rem;
    text-align: left;
    border: 2px solid #ccc;
    background: #f8f8f8; /* whiteDarkish */
    border-radius: 3px 3px 0 0;
    position: relative;
    bottom: -2px;
    cursor: pointer;
    margin-right: 0.5rem;
}
.tabs__tab:hover,
.tabs__tab--active {
    border-bottom: 2px solid #fff;
    background: #fff; /* white */
}
.tabs__content {
    border: 2px solid #ccc;
    border-radius: 3px;
}


.view__header {
    background: rgba(75, 206, 181, 0.5);
}
.view__header .content {
    background: #4BCEB5;
    padding-top: 0;
    padding-bottom: 0;
}
.view__header__nav {
    float: left;
}
.view__header__nav a {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: #43B9A3;
    text-decoration: none;
    color: #fff;
    margin-right: 0.6rem;
    transition: background 200ms;
}
.view__header__nav a:hover {
    cursor: pointer;
    background: #3EAC97;
}
.view__header__user {
    float: right;
    padding: 0.6rem 1.2rem;
    color: #fff;
}
.view__header__user:hover {
    background: #3EAC97;
}
.view__header__user .dropdown {
    left: auto;
    right: 0;
    width: 100%;
}
.view__header__middle-row h1 {
    font-weight: 300;
    font-size: 2.8rem;
    color: #fff;
    padding: 1.8rem 0;
    margin: 0;
}
.view__header__bottom-row {
    background: #43B9A3;
    margin: 0 -3rem;
    padding: 0 3rem;
}
.view__header__bottom-row a {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    background: #43B9A3;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #fff;
    transition: background 200ms, border 200ms;
}
.view__header__bottom-row a.active {
    background: #3EAC97;
    border-bottom: 2px solid #fff;
}
.view__header__bottom-row a:hover {
    cursor: pointer;
    background: #3EAC97;
    border-bottom: 2px solid #fff;
}

.hosts {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}
.hosts .server-card {
    flex: 0 0 calc(50% - 2rem);
    margin: 1rem;
}

.server-card {
    padding: 0.6rem;
    background: #fafafa;
    border: 2px solid #888;
    border-radius: 3px;
    color: #222;
}
.server-card__name {
    float: left;
    font-weight: bold;
}
.server-card__state {
    float: right;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background: #111;
    margin: 0.6rem 0 0 0.6rem;
}
.server-card__state--running {
    background: #5cb85c;
}
.server-card__state--stopped {
    background: #d43f3a;
}
.server-card__az {
    float: right;
    color: #888;
}
.server-card__id {
    font-size: 1.4rem;
    color: #888;
}
.server-card__tags {
    float: left;
    font-size: 1.4rem;
    font-style: italic;
}
.server-card__ip {
    float: right;
    font-size: 1.4rem;
    color: #888;
}

.application-card {
    display: block;
    padding: 0.6rem 1.2rem;
    background: #fafafa;
    border: 2px solid #888;
    border-radius: 3px;
    color: #222;
    margin-bottom: 1.2rem;
    text-decoration: none;
}
.application-card:hover {
    cursor: pointer;
    border-color: #444;
    background: #efefef;
}
.application-card header {
    font-size: 1.8rem;
    font-weight: 300;
}

.environment {
    display: flex;
}
.environment__deployments {
    flex: 0 0 300px;
    border-right: 2px solid #ccc;
}
.environment__deployment {
    flex: 1 1;
}

.deployment-card {
    padding: 1.2rem;
    border-bottom: 2px solid #ccc;
}
.deployment-card--active,
.deployment-card:hover {
    cursor: pointer;
    background: #efefef;
}
.deployment-card:last-child {
    border-bottom: none;
}
.deployment-card--new {
    color: #3eac97;
}
.deployment-card__id {
    font-size: 1.6rem;
    font-weight: 300;
    margin: 0;
}
.deployment-card__by,
.deployment-card__status,
.deployment-card__branch {
    font-size: 1.4rem;
    color: #888;
}
.deployment-card__status {
    font-weight: bold;
}
.deployment-card__status--running {
    color: #447bdc;
}
.deployment-card__status--success {
    color: #5cb85c;
}
.deployment-card__status--failing,
.deployment-card__status--failure {
    color: #d43f3a;
}
.deployment-card__by {
    font-style: italic;
}


.deployment {
    padding: 1.8rem;
}
.deployment__id {
    font-size: 2.2rem;
    font-weight: 300;
    margin-bottom: 1.8rem;
}
.deployment__status {
    font-weight: bold;
}
.deployment__status--running {
    color: #447bdc;
}
.deployment__status--success {
    color: #5cb85c;
}
.deployment__status--failing,
.deployment__status--failure {
    color: #d43f3a;
}
.deployment__info {
    margin-bottom: 1.8rem;
}
.deployment__servers__heading {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.deployment__log__heading {
    font-size: 2rem;
    margin-bottom: 0.6rem;
}
.deployment__log__contents {
    background: #222;
    color: #efefef;
    padding: 1.2rem;
    font-size: 1.3rem;
    margin: 0;
    border-radius: 3px;
}
